{
  "mysql": {
    "host": "127.0.0.1",
    "database": "monitoring",
    "user": "monitoring",
    "password": "<password>"
  },
  "mqtt": {
    "host": "localhost",
    "port": 1883
  },
  "bot": {
    "account": "user@server.org",
    "password": "very-secure-password",
    "room": "muc@domain.tld"
  },
  "port": 1234
}
