{
  "mysql": {
    "host": "127.0.0.1",
    "database": "monitoring",
    "user": "monitoring",
    "password": "<password>"
  },
  "mqtt": {
    "host": "localhost",
    "port": 1883
  },
  "port": 1234
}
